<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jorge Hernández Portfolio Backend - API Endpoints</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/container.css">
    <link rel="icon" href="/favicon.jpg" type="image/x-icon">
</head>

<body>
    <div class="page_container">
        <h1>API Endpoints for Jorge Hernández Portfolio</h1>
        <p>
            In this page you will see the functionality of available endpoints to the Portfolio Frontend, for the final
            project of
            Talent Tech Bootcamp.
        </p>
        <ul>
            <li><span>get</span><strong>/</strong> - return this page.</li>
        </ul>
    </div>
</body>

</html>